/* Overall Layout */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.login-page {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  /* Left Section */
  .login-left {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .login-header {
    margin-bottom: 30px;
  }
  
  .logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 36px;
    color: #333;
  }
  
  h2 {
    font-size: 24px;
    color: #777;
  }
  
  /* Form */
  .login-form {
    max-width: 400px;
    width: 100%;
  }
  
  .form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .forgot-password {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #333;
  }
  
  /* Right Section */
  .login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
  }
  
  .login-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;  }
  